# fly.toml app configuration file generated for codexa-api on 2025-11-28T17:32:41Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'codexa-api'
primary_region = 'cdg'

[build]

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
